
//text color
$light-stone:rgb(214 211 209);
$stone:#1c1917;
$very-light-stone:#fafaf9;


//dark theme
$dark_bg:#212e37;
$dark_light:#2b3743;

//light theme bg
$light-bg:#fafafa;

//font
$roboto: 'Roboto Condensed', sans-serif;
$font-bold:700;
$font-medium:400;
$font-light:300;
//300 400 700