@use "../utils/mixin" as *;
@use "../utils/breakpoint" as *;
@use "../utils/variables" as *;

.details__wrapper {
  @include flex-column($gap: 1rem);
  justify-content: space-evenly;
  height: 100%;
  border:2px solid;
  @include md {
    height: 100vh;
  }
}

// back button css
.btn {
  padding-inline: 1rem;
  border: none;
  cursor: pointer;
  width:8rem;  
  

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &__wrapper {
    @include flex-row($gap: 1rem);
    
    align-items: center;
    text-align: center;
  }
}

.country__details {
  @include flex-column();
  align-items: center;
  justify-content: space-evenly;
  // border: 2px solid red;
  @include md {
    @include flex-row($gap: 4rem);
    align-items: flex-start;
    
  }

  // flag image
  .flag {
    @include md {
      width: 50%;
    }
    &-img {
      width: 100%;
      height: 22rem;
      object-fit: contain;
    }
  }
}

.country__info {
  width: 100%;
  @include md {
    width: 50%;
  }
  @include flex-column($gap: 2rem);
}

.details {
  @include flex-column();
  @include md {
    @include flex-row();
    justify-content: space-between;
  }
  p {
    margin-block: 1rem;
  }
}

.border__wrapper {
  @include flex-row();
  align-items: center;
}

.border {
  @include flex-row();
  flex-wrap: wrap;
}

.btn-border {
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn-light {
  border: 1px solid $very-light-stone;
  background: none;
  color: $stone;
}
.btn-dark {
  border: 1px solid $dark-light;
  background-color: $dark_light;
  color: white;
}
